/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #73AF4D;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #73AF4D;
}

header nav {
    background-color: none;
}

header_bg {
    width: 100vw;
}

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgba(114, 174, 76, 0.89);

}

.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}



.appliance {
    height: 50px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #73AF4D;
    border-radius: 20px 20px 20px 20px;

}

.appliance input::placeholder {
    color: black;
}

.appliance input {
    border: none;
    text-align: center;
    background: none;
    outline: none;
}


.append {
    margin-top: 100px;
}


.calculator_readonly input {
    border: none;
    text-align: center;
    background: none;
}

.calculator_readonly {
    width: ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    border: 1px solid #73AF4D;
    padding: 5px;
    background: ;
    border-radius: 5px;

}

.checked {
    background-color: #73AF4D;
}

.checked input::placeholder {
    color: white;
}

.checked input {
    color: white;
    border: none;
    text-align: center;
    background: none;
}

.calculator,
.result,
.subscribe,
.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    margin: 20px 0px
}

.calculator form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator form input[type=checkbox] {
    height: 10px;
    margin: auto 12px;
    padding: ;

}

.appliance button {
    margin-left: 20px;
    padding: 5px 40px;
    width: 300px;
    height: 35px;
    color: white;
    font-weight: 500;
    background-color: #2D451E;
    border-radius: 0 20px 20px 0;
}

.each_appliance button {
    color: white;
    background-color: #2D451E;
    border-radius: 10px 10px 10px 10px;
    margin-left: 30px;

}

.calculate_btn {

    margin: 40px;
    width: 300px;
    height: 50px;
    font-size: 30px;
    line-height: 42px;
    background-color: #FBB222;
    border: 1px solid #000;
}

.calculator div {
    margin: 10px
}

.result {
    padding: 50px 0;
    line-height: 0;
    background-color: RGB(115, 175, 77, 0.2);
}

.result h1 {
    color: #73AF4D;
    font-size: 100px;
    line-height: 1.0;
}

.result p {
    color: #FBB222;
    font-size: 30px;
}

.diy {
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 100px 15%;
    height: 300px
}

.diy main p {
    font-weight: 500;
}

.diy_items div {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    line-height: ;
}

.diy_items span {
    display: flex;
    justify-content: center;
    align-content: center;
}

.diy_items span img {
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;

}

.diy hr {
    border: none;
    height: 1px;
    width: 450px;
    background: black;
    margin: 4px;


}

.diy aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe {
    height: auto;
    padding: 100px 0;
    background-color: #73AF4D;
}

.subscribe_text {
    color: white;
    font-size: 27px
}

.subscribe input[type=text] {
    width: 300px;
    border: 0;
    border-radius: 10px 0 0 10px;
    height: 50px;
    padding: 15px;
    font-weight: 500;
}

.subscribe button {
    width: 150px;
    background: #fff;
    border: 0;
    font-weight: 500;
    color: #73AF4D;
    display: flex;
    justify-content: center;
}

.subscribe button:hover {
    background-color: #2D451E;
    color: #fff;
    border: 1px solid #fff;
}

.subscribe input::placeholder {
    font-size: 15px;
    color: #ccc;
}

.footer {
    padding: 30px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-
        /*
    position: relative;
    bottom: 16px
*/
}

.footer_heading {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer_heading h1 {
    font-size: 60px;
    font-weight: 640;
}

.footer_heading p {
    line-height: 0.1;
    font-size: 22px
}

.footer_caption p {
    font-size: 13px;

}

.social-icon {
    display: flex;
    flex-direction: column;
}

.social-icon img {
    height: 15px;
    margin-bottom: 18px;
}

.artemis {
    background: #2D451E;
    color: #fff;
    font-weight: 500;

}

.artemis input::placeholder {
    color: #fff;

}

.artemis-width {
    height: 35px;
}

.copyright p {
    padding: 10px;
}

.copyright a {
    color: aquamarine
}



@media screen and (max-width: 1000px) {
    .appliance {
        height: auto;
        width: auto;
        line-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: none
    }

    .appliance button {
        margin-left: 0;
        padding: 0px 40px;
        width: 80vw;
        height: 50px;
        color: white;
        font-weight: 500;
        font-size:20px;
        background-color: #2D451E;
        border-radius: 0 0 20px 20px;

    }

    .appliance input::placeholder {
        color: black;
    }

    .appliance input {
        border: 1px solid;
        width: 80vw;
        height: 50px;
        margin: 10px;
        font-size:20px;
        text-align: center;
        background: none;
    }

    .appliance input:nth-child(1) {
        border-radius: 20px 20px 0 0;
    }
    .calculator_readonly input {
    border: none;
    text-align: center;
    background: none;
        width: 90%
}

.calculator_readonly {
    width: ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    border: 1px solid #73AF4D;
    padding: 5px;
    background: ;
    border-radius: 5px;
    font-size: 2.5vw;

}
    .each_appliance{

    }
    .each_appliance input{
        width:16vw;
        height:40px;

        padding-right: 0px;
    }
    .each_appliance button{
        width: 12vw;
        padding: 4px 1px;
        font-size: 12px;
        margin-left: 20px;

    }
    .result h1 {
    color: #73AF4D;
    font-size: 13vw;
    line-height: 1.0;
}

.result p {
    color: #FBB222;
    font-size: 4vw;
}
    .diy{
        margin: 0;
        height: auto;
    }
    .diy main h1 {
   text-align: center;
}

.diy_items div {
    display: flex;
    flex-direction: row;
    line-height: ;
}
.diy aside {
    display: none;

}
    .footer {
    padding: 30px 0;
}
    .footer_heading h1{
        font-size: 6vw;
    }
    .footer_heading img{
        width: 6vw;
    }
    .footer_heading p{
        font-size: 2vw;
    }
}
